@import './teams-admin.css';

.teams-admin #teams-container {
  padding: 0 var(--horizontal-spacing);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.teams-admin #teams-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  padding: 0;
}

.teams-admin #teams-container ul li {
  border: var(--border-s) solid var(--gray-100);
  list-style: none;
  padding: var(--spacing-m);
}

.teams-admin #teams-container ul li.member {
  background-color: var(--green-100);
}

.teams-admin #teams-container ul li.member.remove {
  background-color: var(--red-100);
}

.teams-admin #teams-container ul li.not-member.add {
  background-color: var(--blue-100);
}

.teams-admin #teams-container ul li p {
  max-width: 200px;
}